<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #left{padding:10px 0;}
        #middle{padding:0;}
        #right{padding:10px 0;}
        #left img{height:400px;width:100%;}
        #middle img{height:420px;width:100%;}
        #right img{height:400px;width:100%;}
    </style>
</head>
<body>
<div class="jumbotron col-xs-12">
  <h1>@title</h1>
  <p>You still need to have a dream. What if it came true?</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="left" class="col-xs-4">
            <img src="static/left.jpg" alt="Redistribution" class="img-thumbnail">
        </div>
        <div id="middle" class="col-xs-4">
            <img src="static/middle.jpg" alt="UNIQUE CHAMPION" class="img-thumbnail">
        </div>
        <div id="right" class="col-xs-4">
            <img src="static/right.jpg" alt="GROUP WINNER" class="img-thumbnail">
        </div>
    </div>
</div>

</body>
<script src="//cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>