.title {
    color: #06b;
    font-weight: normal;
    font-size: 28px;
    border-bottom: 3px solid #ccc;
    padding: 6px 10px;
}

.container {
    padding: 33px;
    padding-top: 22px;
    border: 1px solid #ddd;
}

.content {
    padding-top: 33px;
}

.content p{
    text-indent: 2em;
}

.content p:hover{
    background-color: #c9ebf7;
    border-radius: 4px;
}

