.title {
    color: #06b;
    font-weight: normal;
    font-size: 28px;
    border-bottom: 3px solid #ccc;
    padding: 6px 10px;
}

.container {
    margin-top: 44px;
    padding: 33px;
    padding-top: 22px;
    border: 1px solid #ddd;
}

body {
    font-size: 16px;
    line-height: 1.8;
    font-family: Verdana, Arial, Helvetica, "Microsoft YaHei";
}

.content {
    padding: 55px 0;
}
